h1 {font-family:papyrus; color:white;}
h7 {font-family:papyrus; color:white; font-size: 20px;}
h2 {font-family:papyrus; color:white; font-size: 16px;}
h3 {font-family:papyrus; color:white; font-size: 18px;}
h4 {font-family:papyrus; color:white; font-size: 17px;}
h5 {font-family:papyrus; color:white; font-size: 19px;}
h6 {font-family:papyrus; color:white; font-size: 18px;}
h8 {font-family:papyrus; color:white; font-size: 21px;}
